{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
    </header>

    
<main>
{% block content %}
            
        <h2>Add CVS file</h2>

        {% for message in messages %}
            <p class="alert alert-success">{{ message }}</p>
        
        {% endfor %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Run</button>
        </form>

        {% if request.session.file_url %}
            <a href="{{ request.session.file_url }}" download>Download Cleaned CSV</a>
        {% endif %}
 



{% endblock %}
</main>
    
    <footer>
        <p>&copy; 2022 My Website. All rights reserved.</p>
    </footer>
</body>
</html>